li > a{
  color: rgba(231, 83, 29, 0.93);
}
main > *{
  color: rgba(231, 83, 29, 0.93);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 2% 0;
}
h1{
  border-bottom:1px solid rgba(164, 71, 11, 0.81);
}
