li > a{
  color: rgb(104, 13, 236);
}
header {
  color: rgb(104, 13, 236);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 1% 0;
  border-bottom:1px solid black;
  text-align: center;
}
section{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1{
  font-size: 56px;
}
p{
  width: 400px;
}
canvas{
  cursor: none;
}
.author{
  color: black;
}
.gray{
  color: rgb(121, 121, 122);
}
.yellow{
  color: rgb(231, 163, 31);
}
.lime{
  color: rgba(41, 236, 31, 0.64);
}
.blue{
  color: rgb(66, 138, 223);
}
.pink{
    color: rgb(186, 35, 210);
}
.green{

  color: rgb(55, 161, 22);
}
.red{
  color:rgb(164, 0, 0);
}
.fill-gray{
  background-color: rgb(121, 121, 122);
}
.fill-yellow{
  background-color: rgb(231, 163, 31);
}
.fill-lime{
  background-color: rgba(41, 236, 31, 0.64);
}
.fill-blue{
  background-color: rgb(66, 138, 223);
}
.fill-pink{
    background-color: rgb(186, 35, 210);
}
.fill-green{
  background-color: rgb(55, 161, 22);
}
.fill-black{
  background-color: black;
}
.fill-red{
  background-color: rgb(164, 0, 0);
}
.square{
  width: 10px;
	height: 10px;
}
.rectangle{
  width: 20px;
	height: 10px;
}
.fuel-bar-icon{
  width: 40px;
  height: 20px;
  background-color: rgba(41, 236, 31, 0.64);
}
